<app-header></app-header>
<div *ngIf="project">
    <div class="col-xs-3">
        <form #myForm="ngForm">
            <div *ngIf="saved" class="alert alert-success" role="alert">
                Project successfully updated.
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="project.name" />
                <div *ngIf="error.name" class="form-control-feedback">{{ error.name }}</div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea [(ngModel)]="project.description" class="form-control" name="description" rows="10">
                    {{ project.description }}
                </textarea>
                <div *ngIf="error.description" class="form-control-feedback">{{ error.description }}</div>
            </div>
            <div class="form-group">
                <div class='input-group'>
                    <label>Start date</label><br />
                    <input
                        [(ngModel)]="project.start_date"
                        ng2-datetime-picker
                        date-only="true"
                        date-format="YYYY-MM-DD"
                        class="form-control"
                        name="start_date"
                        />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                    <div *ngIf="error.close_date" class="form-control-feedback">{{ error.close_date }}</div>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group'>
                    <label>End date</label><br />
                    <input
                            [(ngModel)]="project.close_date"
                            ng2-datetime-picker
                            date-only="true"
                            date-format="YYYY-MM-DD"
                            class="form-control"
                            name="close_date"
                    />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                    <div *ngIf="error.close_date" class="form-control-feedback">{{ error.close_date }}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Type</label>
                <select class="form-control">
                    <option value="">Select type...</option>
                    <option *ngFor="let type of types"
                            [value]="type.key"
                            [selected]="type.key == project.type">
                        {{ type.name }}
                    </option>
                </select>
                <div *ngIf="error.type" class="form-control-feedback">{{ error.type }}</div>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select class="form-control">
                    <option value="">Select status...</option>
                    <option *ngFor="let status of statuses"
                            [value]="status.key"
                            [selected]="status.key == project.status">
                        {{ status.name }}
                    </option>
                </select>
                <div *ngIf="error.status" class="form-control-feedback">{{ error.status }}</div>
            </div>
            <button class="btn btn-warning" (click)="goBack()">Back</button>
            <button (click)="save()" class="btn btn-success">Save</button>
        </form>
    </div>
</div>